KUBE_CONTROLLER_ARGS="--kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --bind-address=0.0.0.0 \
  --secure-port=10257 \
  --service-account-private-key-file={{ service_account_private_key_file }} \
  --root-ca-file={{ ca_crt }} \
  --client-ca-file={{ ca_crt }} \
  --cluster-signing-cert-file={{ ca_crt }} \
  --cluster-signing-key-file={{ ca_key }} \
  --enable-hostpath-provisioner=true \
  --large-cluster-size-threshold=50 \
  --experimental-cluster-signing-duration=2160h \
  --logtostderr=false \
  --log-dir={{ kube_log_dir }}/kube-controller-manager \
  --log-file-max-size=512 \
{% if use_flannel %}
  --allocate-node-cidrs=true \
  --cluster-cidr={{ cluster_cidr }}
{% endif %}
  --v=2"


