apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ apiserver_endpoint }}
  name: mytest
contexts:
- context:
    cluster: mytest
    user: mytester
  name: my-context
current-context: my-context
kind: Config
preferences: {}
users:
- name: mytester
  user: {}
