apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.crt
    server: {{ apiserver_endpoint_https }}
  name: myk8s
users:
- user:
    client-certificate: /etc/kubernetes/ssl/admin.crt
    client-key: /etc/kubernetes/ssl/admin.key
  name: contorllermanager
contexts:
- context:
    cluster: myk8s
    user: contorllermanager
  name: my-context
current-context: my-context
