apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority: {{ ca_crt }}
    server: {{ apiserver_endpoint_https }}
  name: myk8s
users:
- user:
    client-certificate: {{ admin_crt }}
    client-key: {{ admin_key }}
  name: contorllermanager
contexts:
- context:
    cluster: myk8s
    user: contorllermanager
  name: my-context
current-context: my-context
